WpfAppClient/Connected Services/ServiceReference1/MovieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVVM_EF_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAdmin_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_EditMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMovie" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_EditMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_RemoveMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMovie" />
  </wsdl:message>
  <wsdl:message name="IServiceAdmin_RemoveMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAdmin">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetMovies" message="tns:IServiceAdmin_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetMoviesResponse" message="tns:IServiceAdmin_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetUser" message="tns:IServiceAdmin_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetUserResponse" message="tns:IServiceAdmin_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdmin/AddMovie" message="tns:IServiceAdmin_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdmin/AddMovieResponse" message="tns:IServiceAdmin_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdmin/EditMovie" message="tns:IServiceAdmin_EditMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdmin/EditMovieResponse" message="tns:IServiceAdmin_EditMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdmin/RemoveMovie" message="tns:IServiceAdmin_RemoveMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdmin/RemoveMovieResponse" message="tns:IServiceAdmin_RemoveMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAdmin" type="tns:IServiceAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IServiceAdmin/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMovie">
      <soap:operation soapAction="http://tempuri.org/IServiceAdmin/EditMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMovie">
      <soap:operation soapAction="http://tempuri.org/IServiceAdmin/RemoveMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IServiceAdmin" binding="tns:BasicHttpBinding_IServiceAdmin">
      <soap:address location="http://localhost:8088/MovieService/Ep1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>